ul {
list-style-type: none;
overflow: hidden;
background-color:gray;
display: flex;
font-size: small;
justify-content: center;
color: white;
}

li {
float: left;
padding-left: 25px;
margin-left: 20px;
}
.li1:hover{
    color:white;
}
#li1:hover{
    color:;
    cursor: pointer;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}


li a:hover {
background-color: black;
}
img{
    width: 100%;
    height: fit-content;
}
.d1{
    text-align: center;
    background-color: rgb(102, 84, 84);
    color: white;
    font-size: medium;
    margin-top: 9   px;
}
.d2{
    position: relative;
}
.b1{
    background-color:rgba(255, 255, 255, 0) ;
    color:rgb(41, 171, 223);
    border-radius: 40px;
    border: 1px solid rgb(41, 171, 223);
    padding: 14px 25px;
    position: absolute;
    top: 82%;
    left: 48%;
    font-size: large;
}
.b1:hover{
    background-color:rgb(41, 171, 223) ;
    color: white;
}
.d3{
    position: relative;
}
.b2{
    background-color:rgb(41, 171, 223);
    color:white;
    border-radius: 40px;
    border: 1px solid rgb(41, 171, 223);
    padding: 14px 25px;
    position: absolute;
    top: 28%;
    left: 42%;
    font-size: large;
}
.b2:hover{
    background-color:rgb(41, 171, 223) ;
    color: white;
}
.b3{
    background-color:rgba(255, 255, 255, 0) ;
    color:rgb(41, 171, 223);
    border-radius: 40px;
    border: 1px solid rgb(41, 171, 223);
    padding: 14px 25px;
    position: absolute;
    top: 28%;
    left: 51%;
    font-size: large;
}

.b3:hover{
    background-color:rgb(41, 171, 223) ;
    color: white;
}
.d4{
    position: relative;
}
.b4{
    background-color:rgb(41, 171, 223);
    color:white;
    border-radius: 40px;
    border: 1px solid rgb(41, 171, 223);
    padding: 14px 25px;
    position: absolute;
    top: 28%;
    left: 42%;
    font-size: large;
}
.b4:hover{
    background-color:rgb(41, 171, 223) ;
    color: white;
}
.b5{
    background-color:rgba(255, 255, 255, 0) ;
    color:rgb(41, 171, 223);
    border-radius: 40px;
    border: 1px solid rgb(41, 171, 223);
    padding: 14px 25px;
    position: absolute;
    top: 28%;
    left: 51%;
    font-size: large;
}

.b5:hover{
    background-color:rgb(41, 171, 223) ;
    color: white;
}
.d5{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.sub1,.sub2,.sub3,.sub4{
    width: 50%;
}

.b6{
    background-color:gray;
    color:black;
    border-radius: 40px;
    border: 0px solid rgb(41, 171, 223);
    padding: 14px 25px;
    position: absolute;
    top: 8%;
    left: 19%;
    font-size: large;

}

.b6:hover{
    background-color:white ;
    color: black;
}
.b7{
    background-color:rgba(255, 255, 255, 0) ;
    color:white;
    border-radius: 40px;
    border: 1px solid white;
    padding: 14px 25px;
    position: absolute;
    top: 8%;
    left: 27%;
    font-size: large;
}

.b7:hover{
    background-color:white ;
    color: black;
}

    .b8{
        background-color:rgba(255, 255, 255, 0) ;
        color:rgb(41, 171, 223);
        border-radius: 40px;
        border: 1px solid rgb(41, 171, 223);
        padding: 14px 25px;
        position: absolute;
        top: 9%;
        left: 69%;
        font-size: large;
    }

    .b8:hover{
        background-color:rgb(41, 171, 223) ;
        color: white;
    }
    .b9{
        background-color:rgb(41, 171, 223);
        color:white;
        border-radius: 40px;
        border: 1px solid rgb(41, 171, 223);
        padding: 14px 25px;
        position: absolute;
        top: 43%;
        left: 19%;
        font-size: large;
    }
    .b9:hover{
        background-color:rgb(41, 171, 223) ;
        color: white;
    }
    .b10{
        background-color:rgba(255, 255, 255, 0) ;
        color:rgb(41, 171, 223);
        border-radius: 40px;
        border: 1px solid rgb(41, 171, 223);
        padding: 14px 25px;
        position: absolute;
        top: 43%;
        left: 28%;
        font-size: large;
    }
    
    .b10:hover{
        background-color:rgb(41, 171, 223) ;
        color: white;
    }
    .b11{
        background-color: rgb(41, 171, 223);
        color:white;
        border-radius: 40px;
        border: 0px solid rgb(41, 171, 223);
        padding: 14px 25px;
        position: absolute;
        top: 42%;
        left: 67%;
        font-size: large;
    
    }
    
    .b11:hover{
        background-color: rgb(41, 171, 223) ;
        color: white;
    }
    .b12{
        background-color:white ;
        color: rgb(41, 171, 223);
        border-radius: 40px;
        border: 1px solid  rgb(41, 171, 223);
        padding: 14px 25px;
        position: absolute;
        top: 42%;
        left: 75%;
        font-size: large;
    }
    
    .b12:hover{
        background-color: rgb(41, 171, 223) ;
        color:white;
    }

.b13{
    background-color:black;
    color:white;
    border-radius: 40px;
    border: 0px solid rgb(41, 171, 223);
    padding: 14px 25px;
    position: absolute;
    top: 74%;
    left: 19%;
    font-size: large;
}
.b13:hover{
    background-color:black ;
    color: white;
}
.b14{
    background-color:rgba(255, 255, 255, 0) ;
    color:black;
    border-radius: 40px;
    border: 1px solid black;
    padding: 14px 25px;
    position: absolute;
    top: 74%;
    left: 27%;
    font-size: large;
}

.b14:hover{
    background-color:black ;
    color: white;
}
.b15{
    background-color:rgb(41, 171, 223) ;
    color: white;
    border-radius: 40px;
    border: 1px solid  rgb(41, 171, 223);
    padding: 14px 25px;
    position: absolute;
    top: 75%;
    left: 70%;
    font-size: large;
}

.b15:hover{
    background-color:rgb(41, 171, 223) ;
    color:white ;
}



