ul {
list-style-type: none;
overflow: hidden;
background-color:gray;
position: fixed;
width: 100%;
margin-top: 0;
margin-bottom:0 ;
position: fixed;
display: flex;
justify-content: center;
z-index: 100;
backdrop-filter: blur(2px);
color: white;
}

li {
float: left;
padding-left: 25px;
margin-left: 20px;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}


li a:hover {
background-color: #111;
}
